@{

    ViewData["Title"] = "Manage Cart";
    ViewData["PageHeading"] = "Manage Cart";
    decimal cartTotal = 0;
    decimal RentcartTotal = 0;
    decimal Total = 0;


}

   

        @if (Model.Count == 0)

        {

            <div style="margin-bottom:290px;">

                <h1 style="font-family: 'Montserrat Subrayada', sans-serif;">Shopping Cart</h1>

                <p>Shopping Cart Empty.</p>

            </div>

        }

        else

        {

            <div style="margin-bottom:290px">

                @if (ViewBag.msg != null)
                {

                    <p class="msg">@ViewBag.msg</p>

                }

                <table class="table">
                    <caption style="font-family: 'Montserrat Subrayada', sans-serif; font-weight:100; font-size:30px;">Shopping Cart</caption>
                    <br />
                    <thead>
                        <tr>

                            <td style="margin:20px">Film</td>

                            <td style="margin:20px">Quantity</td>

                            <td style="margin:20px">Cost</td>

                            <td style="margin:20px">Purchase Type</td>

                            <td style="margin:20px"></td>

                            

                        </tr>
                    </thead>
                    @foreach (var item in Model)

                    {

                        cartTotal += item.OrderQuantity * item.FilmPrice;
                        RentcartTotal += item.OrderQuantity * item.RentPrice;

                <thead>
                    <tr>


                        <td style="margin:20px">@item.FilmTitle</td>

                        <td style="margin:20px">@item.OrderQuantity</td>

                        <td style="margin:20px">£@((item.OrderQuantity * item.FilmPrice).ToString("0.00"))</td>

                        <td style="margin:20px">@item.PurchaseType</td>

                        <td style="margin:20px">

                            <form style="padding-left:0px;" method="post" asp-action="RemoveCartItem">

                                <input type="hidden" name="FilmID" id="FilmID" value="@item.FilmID" />

                                <input type="submit" value="Delete" />

                            </form>

                        </td>

                    </tr>
                </thead>

                    }

                </table>

                <div>
                    <p style="font-size:30px">Basket Total: £@(Total = cartTotal + RentcartTotal)</p>
                </div>
            </div>
        }
    
