@{

    ViewData["Title"] = "Manage Cart";
    ViewData["PageHeading"] = "Manage Cart";
    decimal cartTotal = 0;
    decimal RentcartTotal = 0;


}

    <section class="wrap">


        @if (Model.Count == 0)

        {

            <div>

                <h1>Shopping Cart</h1>

                <p>Shopping Cart Empty.</p>

            </div>

        }

        else

        {

            <div>

                @if (ViewBag.msg != null)
                {

                    <p class="msg">@ViewBag.msg</p>

                }

                <table class="basket">
                    <caption>Shopping Cart</caption>
                    <thead>
                        <tr>

                            <td>Film</td>

                            <td>Quantity</td>

                            <td>Cost</td>

                            <td>Purchase Type</td>

                            <td></td>

                            

                        </tr>
                    </thead>
                    @foreach (var item in Model)

                    {

                        cartTotal += item.OrderQuantity * item.FilmPrice;
                        RentcartTotal += item.OrderQuantity * item.RentPrice;

                <thead>
                    <tr>


                        <td>@item.FilmTitle</td>

                        <td>@item.OrderQuantity</td>

                        <td>£@((item.OrderQuantity * item.FilmPrice).ToString("0.00"))</td>

                        <td>@item.PurchaseType</td>

                        <td>

                            <form style="padding-left:0px;" method="post" asp-action="RemoveCartItem">

                                <input type="hidden" name="FilmID" id="FilmID" value="@item.FilmID" />

                                <input type="submit" value="Delete" />

                            </form>

                        </td>

                    </tr>
                </thead>

                    }

                </table>

                <div>
                    <p>Basket Total: £@cartTotal.ToString("0.00")</p>
                </div>

            </div>
        }
    </section>

